button {
  position: absolute;
  top: 41%;
  left: 3%;
  width: 94%;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  background-color: #ebc300;
}

button:disabled {
  background-color: lightgray;
}