<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: #ebc300">
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="formGroup" style="text-align: center">
  <ion-searchbar formControlName="title" search-icon="text" placeholder="Title"></ion-searchbar>
  <ion-searchbar formControlName="author" search-icon="person" placeholder="Author"></ion-searchbar>
  <ion-searchbar formControlName="category" search-icon="book" placeholder="Category"></ion-searchbar>
  <ion-chip color="warning" *ngIf="formGroup.hasError('required')">
    <ion-label>At least one field must be filled.</ion-label>
  </ion-chip>
  <button (click)="search()" [disabled]="formGroup.invalid">
    <ion-icon style="color: white" name="search"></ion-icon>
  </button>
</ion-content>
